doctype
html
    head 
        title GreenThumb
        link(rel="icon", href="/images/flower_27.jpg")
        link(rel="stylesheet", href="/styles.css")
    body#certificatebody 
        //- the header
        include myHeader.pug 
        h2 This is your official Gardener's Certificate!
        h3 Congradulations, !{name}!
        h3 - Zach W, Gardening Guru
        div
            img(src="/images/chomper.webp", height="300", width="1300")