doctype
html
    head 
        title GreenThumb
        link(rel="icon", href="/images/flower_27.jpg")
        link(rel="stylesheet", href="/styles.css")
        script(defer src="/home.js")
    
    body 
    //- the header
    include myHeader.pug 
    #explanationtxt(style="width:500px; padding-left:130px;") 
        p Welcome to GreenThumb! Here, you can plot out your next garden based on the Square Foot Gardening method. To learn more about the Square Foot Method, read "All New Square Foot Gardening" by Mel Bartholmew.

    main#homemain 
        div#canvasholder 
            canvas#diagramcanvas(width="700px", height="500px") 
            form#gridform
                label(for="gardenRows") Garden Rows:
                input(id="rowCount", name="gardenRows" type="number", min="1", max="6")
                label(for="gardenCols") Garden Columns:
                input(id="columnCount", name="gardenCols", type="number", min="1", max="6")
                input(type="submit")
        div#seedgridholder
            //-populate the list of seeds here
            - for (let i = 0; i < seeds.length; i++)
                div(class="seedholder", id=seeds[i].name, style="position:relative;")
                    img(class="seedimg", src=seeds[i].imgURL, alt=seeds[i].name + " seed", width="100", height="100")
                    //- Add a color overlay to an image when you select the plant
                    .overlay

            
